<!DOCTYPE html>
<html lang="{{ site.lang | default: "fr-FR" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Accidentologie routière en France</h1>
      <h1 class="project-tagline">En 2018, quel a été l'impact des conditions météorologiques sur l'accidentologie routière ? Quels ont été les usagers les plus impactés ?</h2>
      <h3>Maéva Laurent, Romane Leveneur, Sophie Luzi </a></h3>
    </section>

    <section class="main-content">
      {{ content }}
									
    <footer class="site-footer">
	    <p style="font-weight:bold"> A propos</p>
	    <p>Ce travail a été réalisé dans le cadre de l’enseignement "Données et Médiation" du master Métiers de l'information à Sciences Po Aix, dispensé par Samuel Goëta.</p>
	    <p>Les hypothèses faites dans cet article doivent être prises avec précaution et nuancées, puisque ce travail n’est pas exhaustif et que d’autres données peuvent être prises en compte.</p>
	    </footer>
    </section>

  </body>
</html>
